$accent: #66D6A0;
$bg: #06B25F; 
$pick: #00A4E8;
$title: #194484;
$light:#84B5FF;
$medium:#276ED8;
$mediub-blue:#0D6EB7;



%monserat-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}

%monserat-400 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 400;
}

%harabara {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}