@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  // &__bg {
  //   background-image: url('../images/bg-header.png');
  //   height: 1033px;
  // }


  &__inner {
    box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.10);
    position: relative;
  }

  &__social {
    display: flex;
    gap: 25px;
    flex-direction: column;
    padding: 12px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    top: 420px;
    right: 0;
    z-index: 10;
    box-shadow: 0px 4px 12px rgba(24, 9, 96, .1);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 100;
  }


  &__list {
    display: flex;
    gap: 25px;
    position: relative;
  }

  &__link {
    color: #0D6EB7;
    @extend %monserat-700;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
      color: $pick;

      path {
        fill: $pick;
      }
    }
  }

  &__btn {
    height: 42px;
    width: 160px;
    background-color: inherit;
    border: none;
    border: 2px solid $bg;
    border-radius: 10px;
    @extend %monserat-700;
    color: $bg;
    cursor: pointer;
    padding-top: 2px;
  }

  &__services {
    position: absolute;
    background-color: rgba(33, 33, 33, 0.80);
    border-top: 3px solid $pick;
    top: 25px;
    left: 0;
    transform: translateY(-500%);
    transition: all .3s;
    z-index: 10;
  }

  &__about {
    position: absolute;
    background-color: rgba(33, 33, 33, 0.80);
    border-top: 3px solid $pick;
    top: 25px;
    right: -20px;
    transform: translateY(-500%);
    transition: all .3s;
    z-index: 10;
  }

  &__technologies {
    position: absolute;
    background-color: rgba(33, 33, 33, 0.80);
    border-top: 3px solid $pick;
    top: 25px;
    left: 130px;
    transform: translateY(-500%);
    transition: all .3s;
    z-index: 10;
  }

  &__services--active,
  &__technologies--active,
  &__about--active {
    transform: translateY(0);
    transition: all .3s;
  }

  &__servises-item {
    padding: 15px 5px 10px 15px;
    text-transform: uppercase;
  }

  &__link-service--active,
  &__link-technologies--active,
  &__link-about--active {
    color: $pick;

    svg {
      path {
        fill: $pick;
      }
    }
  }

  &__service-link {
    @extend %monserat-700;
    color: #fff;

    &:hover {
      color: $pick;
    }

  }
}


.about {
  margin-bottom: 120px;

  &__items {
    height: 960px;

  }

  &__wrapper {
    position: relative;
  }

  &__item {
    height: 960px;
    background-repeat: no-repeat;
    z-index: 0;
    background-size: cover;
  }

  &__title {
    padding-top: 220px;
    @extend %monserat-700;
    font-size: 44px;
    line-height: 60px;
    color: #fff;
    width: 590px;
    margin-bottom: 20px;
  }

  &__text {
    @extend %monserat-400;
    color: #fff;
    width: 565px;
    line-height: 26px;
    margin-bottom: 40px;
  }

  &__box {
    display: flex;
    gap: 25px;
  }

  &__link {
    height: 42px;
    width: 160px;
    background-color: inherit;
    border: none;
    border: 2px solid #fff;
    border-radius: 10px;
    @extend %monserat-700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $bg;
      border: none;
    }
  }

  .slick-dots {
    position: absolute;
    content: '';
    bottom: 300px;
    left: 275px;
    display: flex;
    gap: 20px;
    font-size: 0;

    button {
      background-color: inherit;
      border: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 4px solid #fff;
    }

  }

  .slick-active {
    background-color: #fff;
    border-radius: 50%;
  }
}


.technologies {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  @extend %monserat-400;

  font-size: 24px;

  &__title {
    margin-bottom: 60px;
  }

  &__text {
    @extend %monserat-400;

    line-height: 38px;
    margin-bottom: 30px;

  }

  &__pick {
    color: $pick;
    @extend %monserat-700;
  }

  &__and {
    color: $title;
    @extend %monserat-700;
  }

  &__item {
    width: 65px;
    height: 65px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__apps {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 30px;
  }

  &__item-one {
    background-color: $bg;
  }

  &__item-two {
    background-color: $pick;
  }

  &__item-three {
    background-color: $light;
  }

  &__about {
    margin-bottom: 120px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    padding: 30px;
    margin-bottom: 120px;
  }

  &__star-info {
    display: flex;
    align-items: center;
  }

  &__reviews {
    font-size: 16px;
    padding-top: 4px;
  }

  &__link {
    background-color: $bg;
    color: #fff;
    line-height: 36px;
    font-size: 16px;
    border-radius: 8px;
    padding: 5px 10px;
    text-transform: uppercase;
    @extend %monserat-700;
  }

  &__num {
    @extend %monserat-700;
    font-size: 18px;
    color: #242424;
  }

}

.services {
  margin-bottom: 70px;

  &__items {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 30px;
  }

  &__item {
    width: 550px;
  }

  &__item-title {
    @extend %monserat-700;
    color: $mediub-blue;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  &__text {
    @extend %monserat-400;
    line-height: 26px;
    color: #242424;
  }
}

.looking {
  height: 640px;
  background-image: url('../images/bg-looking.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-bottom: 120px;

  &__title {
    @extend %harabara;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 24px;
    margin-bottom: 35px;
  }

  &__link {
    width: 160px;
    height: 40px;
    color: $bg;
    @extend %monserat-700;
    text-transform: uppercase;
    background-color: #fff;
    padding: 15px 35px;
    border-radius: 8px;
    border: 2px solid $bg;
  }
}

.achievements {
  margin-bottom: 120px;

  &__inner {
    display: flex;
    gap: 25px;

  }

  &__text {
    width: 280px;
    margin: 0 auto;
    text-align: center;
  }

  &__text-one {
    color: #000;
    @extend %monserat-700;
    margin-top: -100px;
  }

  &__text-two {
    @extend %monserat-700;
    color: $medium;
  }

  &__items {
    width: 320px;
    height: 400px;
    background-color: #F4F7FD;
    border-radius: 16px;
    color: #242424;
  }

  &__img {
    margin: 0 auto;
    padding-top: 40px;
  }

  &__text {
    padding-top: 40px;
  }
}

.partners {
  margin-bottom: 120px;

  &__title {
    margin-bottom: 80px;
  }

  &__items {
    display: grid;
    grid-gap: 40px 25px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    width: 320px;
    height: 160px;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.10);
  }

  &__img {
    object-fit: none;
  }
}

.contacts {
  margin-bottom: 215px;

  &__title {
    margin-bottom: 80px;
  }

  &__text {
    @extend %monserat-700;
    color: #242424;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__text-info {
    @extend %monserat-400;
    color: #242424;
    text-align: center;
    margin-bottom: 105px;
  }

  &__adress {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
  }

  &__link {
    @extend %monserat-400;
    font-size: 20px;
    color: #242424;
    text-transform: capitalize;
  }

  &__about {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    width: 420px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    padding: 40px;
    margin-right: 85px;
    position: relative;


    &::before {
      position: absolute;
      content: '';
      top: -50px;
      left: -80px;
      width: 150px;
      height: 150px;
      background-image: url('../images/contact/2.png');
      background-repeat: no-repeat;
      z-index: -1;

    }

    &::after {
      position: absolute;
      content: '';
      top: -50px;
      right: -80px;
      width: 126px;
      height: 230px;
      background-image: url('../images/contact/3.png');
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  &__input {
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    background: #FFF;
    margin-bottom: 20px;
    width: 340px;
    outline: none;

    &::placeholder {
      color: #A9A9A9;
    }
  }

  &__textarea {
    resize: none;
    width: 340px;
    height: 80px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    background: #FFF;
    outline: none;
    margin-bottom: 30px;

    &::placeholder {
      color: #A9A9A9;

    }
  }

  &__btn {
    border-radius: 6px;
    background: #2DA531;
    width: 340px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    @extend %monserat-700;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -50px;
      left: -150px;
      width: 150px;
      height: 150px;
      background-image: url('../images/contact/1.png');
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.footer {
  &__top {
    background-image: url('../images/footer/bg-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 60px;
  }

  &__top-items {
    padding-top: 150px;
    color: #fff;
    display: flex;
    justify-content: space-between;

  }

  &__img {
    margin-bottom: 50px;
    margin-top: -10px;
  }

  &__links {
    width: 230px;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
  }

  &__link {
    &:hover {
      svg {
        path {
          fill: #66D6A0;
        }
      }
    }
  }

  &__item-title {
    display: block;
    @extend %monserat-700;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 17px;

  }

  &__item-list {
    padding-left: 20px;
    margin-top: 17px;
  }

  &__item-link {
    @extend %monserat-400;
    color: #fff;
  }

  &__bottom {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: #4C4C4C;
    }

    a {
      color: #4C4C4C;
    }
  }

  &__bottom-box {
    display: flex;
    gap: 150px;
  }
}

.vr {
  &__top {
    background-image: url('../images/vr/vr-bg.png');
    padding-top: 200px;
    padding-bottom: 240px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  &__title {
    text-align: left;
  }

  &__about {
    display: flex;
    justify-content: space-between;
  }

  &__about-info {
    width: 555px;
  }

  &__about-title {
    @extend %harabara;
    font-size: 24px;
    color: $mediub-blue;
    line-height: 30px;
    margin-bottom: 15px;
  }

  &__about-text {
    color: #242424;
    line-height: 26px;
    margin-bottom: 85px;
  }

  .technologies__box {
    width: 900px;
    margin: 0 auto 140px;
  }

  &__services-title {
    margin-bottom: 70px;
  }

  &__services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 320px;
    border-radius: 16px;
    background: #F4F8FD;
    box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.10);
    margin-bottom: 60px;
  }

  &__services-items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;

  }

  &__projects {
    margin-bottom: 100px;
  }

  &__services-img {
    width: 115px;
    height: 115px;
    margin-bottom: 45px;
  }

  &__services-text {
    @extend %harabara;
    text-transform: uppercase;
    color: $mediub-blue;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }



  &__projects-item {
    width: 400px !important;
    height: 440px !important;
    margin-top: 90px;
    padding-left: 7px;

  }

  &__projects-box {
    padding: 16px;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  &__projects-img {
    width: 400px;
    height: 280px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  &__projects-title {
    color: $mediub-blue;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 38px;
    @extend %harabara;
    margin-bottom: 8px;
  }

  &__projects-text {
    line-height: 26px;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    border: none;
    background-color: inherit;
    width: 45px;
    background-repeat: no-repeat;
    height: 45px;
  }

  .slick-prev {
    background-image: url('../images/vr/arrow-left.svg');
    left: -60px;
  }

  .slick-next {
    background-image: url('../images/vr/arrow-right.svg');
    right: -30px;
  }

  &__faq-title {
    margin-bottom: 60px;
  }

  &__faq-item {
    color: $mediub-blue;
    font-size: 20px;
    line-height: 30px;
    @extend %monserat-700;
    margin-bottom: 25px;


    svg {
      margin-right: 10px;
    }
  }

  &__faq-list {
    &:nth-child(1) {
      padding-top: 20px;
    }
  }

  &__faq-inner {
    width: 1000px;
    margin: 0 auto;
  }



  &__faq-top {
    background-image: url('../images/vr/right.png');
    background-repeat: no-repeat;
    background-position: center right;
    margin-bottom: 60px;
  }

  &__faq-wrapper {
    display: flex;
    justify-content: center;
    background-image: url('../images/vr/left.png');
    background-repeat: no-repeat;
    background-position: center left;
  }
}

.faq {
  &__item {
    padding: 30px 35px;
    border-bottom: 1px solid #0D6EB7;
    margin-bottom: 20px;
  }

  &__title {
    @extend %monserat-700;
    line-height: 30px;
    font-size: 20px;
    color: #242424;
    margin-bottom: 15px;
    position: relative;
    display: block !important;

    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 12px;
      top: 8px;
      left: -30px;
      background-image: url('../images/vr/faq-arrow-up.svg');
    }
  }

  &__text {
    line-height: 26px;
    display: block;
  }

  &__text--active {
    display: none;
    transition: all .7s;
  }

}


.mobile {
  .vr__top {
    background-image: url('../images/vr/mobile-bg.png');

    background-position: right center;
  }
}

.game {
  .vr__top {
    background-image: url('../images/vr/game-bg.png');
    background-position: center;
  }
}

.dedicated {
  .vr__top {
    background-image: none;
  }
}

.sdk {
  .vr__top {
    background-image: url('../images/vr/sdk-bg.png');
    background-position: center;
  }
}

.ar {
  .vr__top {
    background-image: url('../images/vr/ar-bg.png');
    background-position: center right;
  }
}

.android {
  .vr__top {
    background-image: url('../images/vr/android-bg.png');
    background-position: center right;
  }
}

.products {
  .vr__top {
    background-image: url('../images/products/bg.png');
  }

  &__content {
    display: grid;
    grid-gap: 55px 80px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 140px;
  }

  &__img {
    min-width: 400px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  &__item {
    width: 400px;
    position: relative;

    &:hover {
      .products__hide {
        display: block;
      }
    }
  }

  &__hide-inner {
    background-color: $light;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 56px;
      opacity: 0.6;
      background: #FFF;
      left: 50%;
    }
  }

  &__hide-wrapper {
    width: 400px;
    height: 225px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #242424;
    opacity: 0.4;
  }

  &__hide {
    display: none;
    position: absolute;
    top: 0;

    svg {
      width: 200px;
      display: inline-block;
    }

  }
}

.portfolio {
  .vr__top {
    background-image: url('../images/portfolio/portfolio-bg.jpg');
  }

  &__item {
    display: flex;
    box-shadow: (0px 3px 16px rgba(29, 51, 107, 0.15));
    width: 1130px;
    border-radius: 16px;
    margin: 0 auto 75px;
  }

  &__box {
    padding: 24px 38px 24px 24px;
    margin-left: -11px;
  }

  &__title {
    @extend %harabara;
    line-height: 38px;
    font-size: 24px;
    color: $mediub-blue;
  }

  &__text {
    width: 515px;
    line-height: 26px;
  }
}

.blog {
  .vr__top {
    background-image: none;
    padding: 40px 0 80px;
  }

  &__item {
    width: 1070px;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: (0px 3px 16px rgba(29, 51, 107, 0.15));
    display: flex;
    gap: 70px;
    margin-bottom: 70px;
  }

  &__box {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
    color: #b1b1b1;
  }

  .jq-ry-container {
    padding: 0;
  }

  &__min {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('../images/icons/time.svg');
      top: -3px;
      left: -30px;
    }
  }

  &__views {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('../images/icons/views.svg');
      top: -3px;
      left: -30px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__text {
    margin-bottom: 15px;
    width: 740px;
    line-height: 26px;
  }

  &__author {
    display: flex;
    gap: 30px;
  }

  &__name {
    padding-left: 35px;
  }

  &__img {
    width: 257px;
    height: 257px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  &__name {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url('../images/author.jpg');
      top: -6px;
      left: -3px;
    }
  }
}

.blog-one {
  margin-top: 55px;
  max-width: 900px;
  margin: 0 auto;

  &__title {
    margin-bottom: 40px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    margin-bottom: 15px;
  }

  &__img {
    border-radius: 16px;
  }

  .blog__name {
    margin-bottom: 25px;

    &::before {
      background-image: url('../images/author-1.jpg');
    }
  }

  &__text {
    line-height: 26px;
    margin-bottom: 35px;
  }

  &__comments {
    height: 150px;
    background-color: #F0F5FC;
    border-radius: 16px;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
  }

  &__comments-title {
    @extend %monserat-700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  &__author {
    width: 666px;
    margin-bottom: 80px;
  }

  &__author-title {
    color: $mediub-blue;
    @extend %harabara;
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__box {
    display: flex;
    gap: 35px;
  }

  &__author-img {
    width: 170px;
    height: 170px;
    object-fit: cover;
  }

  &__author-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  &__author-name {
    font-size: 20px;
    @extend %monserat-700;

  }

  &__author-social {
    display: flex;
    gap: 12px;
  }

  &__author-job {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    margin-bottom: 10px;
  }

  &__author-text {
    line-height: 26px;
  }
}

.recent {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 100px;
  }

  &__img {
    width: 400px;
    height: 280px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  &__item {
    width: 400px !important;
    margin-left: 10px;
    border-radius: 16px;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    padding: 15px;

  }

  &__box {
    display: flex;
    gap: 35px;
  }

  .blog__box {
    display: flex;
    padding-top: 0;
    justify-content: space-between;
  }

  .blog__author {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .blog__text {
    width: 100%;
    margin-bottom: 0;
  }

  .slick-list {
    height: 590px;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    border: none;
    background-color: inherit;
    width: 45px;
    background-repeat: no-repeat;
    height: 45px;
  }

  .slick-prev {
    background-image: url('../images/vr/arrow-left.svg');
    left: -60px;
  }

  .slick-next {
    background-image: url('../images/vr/arrow-right.svg');
    right: -30px;
  }
}

.team-one {
  padding-top: 90px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 100px;

  .blog-one__author-name {
    font-size: 44px;
    text-transform: uppercase;
    color: $title;
  }

  .blog-one__author-about {
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b1b1;
  }

  .blog-one__author-job {
    @extend %harabara;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: none;
    padding-top: 10px;
    margin-bottom: 40px;
  }

  .blog-one__author-about {
    margin-bottom: 0;
  }

  &__img {
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
  }

  &__text {
    line-height: 26px;
  }
}


.about-us {
  margin-bottom: 100px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-align: left;
    line-height: 50px;
  }

  &__title-color {
    color: $mediub-blue;
  }

  &__text {
    line-height: 26px;
    width: 550px;
  }

  &__text-color {
    color: #000;
    @extend %monserat-700
  }

  &__text-color-an {
    color: $mediub-blue;
  }

  &__text-title {
    color: $mediub-blue;
    @extend %monserat-700;
    font-size: 24px;
  }
}


.team-page {
  margin-top: 85px;
  margin-bottom: 125px;

  &__title {
    margin-bottom: 75px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px
  }

  &__item {
    width: 322px;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 16px;
  }

  &__img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 332px;
    width: 322px;
    object-fit: cover;
  }

  &__info {
    padding: 16px;
  }

  &__info-title {
    @extend %harabara;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 38px;
    color: $mediub-blue;
    margin-bottom: 8px;
  }
}


.join {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
  }

  &__text {
    width: 550px;
    line-height: 26px;
  }

  &__text-color {
    @extend %monserat-700;
    color: #000;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__item {
    border-radius: 16px;
    box-shadow: (0px 3px 16px rgba(29, 51, 107, 0.15));
    margin-bottom: 50px;
  }

  &__item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px 30px 80px;

  }

  &__item-link {
    font-size: 24px;
    color: $title;
    text-transform: uppercase;
    @extend %harabara;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 24px;
      height: 16px;
      top: 6px;
      left: -30px;
      background-image: url('../images/icons/join-down.svg');


    }
  }

  &__btn {
    background-color: $bg;
    border: none;
    border-radius: 8px;
    color: #fff;
    @extend %monserat-700;
    width: 160px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__list {
    padding-top: 25px !important;
    padding-left: 50px !important;
    padding-bottom: 30px !important;
    // &:last-child{
    //   padding-bottom: 20px;
    // }
  }

  &__list-top {
    border-top: 1px solid #ACBCD2;
  }

  &__info {
    display: none;
  }
  &__item-link--active {
    &::after{
      transform: rotate(180deg);
    }
  }

  &__list-title {
    color: $title;
    @extend %harabara;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 25px;
    display: block;
  }

  &__list-item {
    padding-left: 20px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 6px;
      height: 6px;
      top: 6px;
      left: 0;
      background-image: url('../images/icons/point.svg');
    }
  }
}







@import 'media';